/* style.css */

.center{
    margin: auto;
    width: 60%;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  img {
    max-width: 100%;
    height: auto;
    font-size: 3rem;
  }
  h1,h2,h3{
    color: rgb(20, 89, 208);
    margin-top: 0em;
    margin-bottom: 0em;
  }

  h2{
    display: inline;
  }
  .heich2{
    font-size: large;
    display: inline;
    font-weight: bold;
  }
  cite{
    padding: 1em;
    margin-top: 0em;
    display: block;
    font-size: larger;
  }
  section{
    display:flex;
    height: 100%
  }
  .description{
    width: 70%;
  }
  .skilltools{
    flex-wrap:wrap;
    margin-left: 2vw;
  }
  .container{
    width: 100%;
    height: 100vh;
    background: #001660;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
  }
  form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
  }
  form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: antiquewhite;
    font-size: 16px;
  }

  form button{
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
  }
  @media screen and (max-width:600px ) {
    .center{width: 100%;}
    section{
      display: contents;
      height: 100%
    }
    .description{
      width: 100%;
    } 
    .skilltools{
      margin: 2vw;
      font-weight: bold;
    }
  }